/* h2 {
  font-size: 12px !important;
  color: red !important;
  background-color: black !important;
} */

button {
  /* width: 50px;
  height: 50px;
  font-size: 32px; */
  background-color: red;
  color: green;
}
